* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-card {
    background: white;
    width: 100%;
    max-width: 75%;
    margin: 10px;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo Animado */
.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-main {
    width: 70px;
    height: 70px;
    border: 5px solid #e63946;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-inner {
    width: 40px;
    height: 40px;
    border: 8px solid #adb5bd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-core {
    width: 14px;
    height: 14px;
    background: #e63946;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    color: #1d3557;
    margin-bottom: 35px;
    font-weight: 300;
}

h1 span {
    display: block;
    color: #e63946;
    font-weight: 600;
}

.input-box {
    margin-bottom: 25px;
    text-align: left;
}

label {
    display: block;
    font-size: 13px;
    color: #457b9d;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

input,
select {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #eee;
    background: #fdfdfd;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #e63946;
    background: white;
}

.shiny-btn {
    width: 100%;
    padding: 18px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.shiny-btn:hover {
    background: #b71c1c;
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

#result-container {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px dashed #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-costs small {
    font-size: 11px;
    color: #777;
    display: block;
    margin: 5px 0;
}

h2 {
    color: #1d3557;
    font-size: 32px;
}

h3 {
    color: #457b9d;
    font-size: 24px;
}

@media (max-width: 480px) {
    .app-card {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-img {
    max-width: 150px;
    height: auto;
    object-fit: contain;
}